#contenedorFormularioDenunciados{
    display: flex;
    flex-direction: column;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    border-radius: 7px;
    border: none;
    background-color: beige;
    box-shadow: 2px 2px 7px 1px black;
    margin-top: 10px;    
}
#textoEncabezado{
    margin-top: 15px
}
#contenedorDatosEntidadyNro{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#selectEntidad{
  text-align: center;
  width: 350px;
  height:30px;
  border-radius: 7px;
  font-size: 14px;
}

#selectEntidad:focus{
    outline:none;
    box-shadow: 1px 1px 10px 2px rgb(243, 50, 227);
}
#nroCheque{
    border-radius: 7px;
    width:75px;
    height: 20px;
    font-size: 16px;
}
#contNroCheque{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    margin-top: 20px;
    margin-bottom: 10px;
}
label{
    display: flex;
    align-items: center;
}
#botonConsultarNroCheque{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    width: 80px;
    height: 25px;
    border-radius: 7px;
    border: none;
    background-color: beige;
    box-shadow: 2px 2px 7px 1px black;
    margin-bottom: 15px;
}