#contenedorDatosCliente{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: beige;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 7px;
    border: none;
    box-shadow: 2px 2px 7px 1px black;
    margin: 10px;
    padding: 20px;
}

#encabezadoDatosCliente{
  height: 40px;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#datosCliente{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

#contenedorClientePeriodo{
  display: flex;
  flex-direction: column;
  justify-content: center;
}