#contenedorFormularioDatosCUIT{
    background-color: beige;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    border: none;
    box-shadow: 2px 2px 7px 1px black;
    margin: 10px;
    padding: 20px;
    width: 50%;
}
#textoEncabezado{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}
#encabezadoDatosCuit{
  height: 40px;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  
}
#contenedorCUIT{
 display: flex;
 flex-direction: column;
 align-items: center;
}

#CUIT{
    text-align: center;
    margin: 5px;
    width: 90px;
    border-radius: 5px;
    height: 18px;
    margin-bottom: 5px;
}
#erroresCuit{
    display: flex;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    color: red;
    min-height: 15px;
    opacity: 0.8;  
}
#botonConsultarCuit{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    width: 80px;
    height: 25px;
    border-radius: 7px;
    border: none;
    background-color: beige;
    box-shadow: 2px 2px 7px 1px black;
    margin-top: 10px;
}
#botonConsultarCuit:hover{
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
}