#contenedorSituacionBancos{

    background-color: beige;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 7px;
    border: none;
    box-shadow: 2px 2px 7px 1px black;
    margin: 10px;
    padding: 20px;    
}

#encabezadoSituacionBancos{
  font-size: 20px;
  font-weight: bold;
}