#encabezadoCheques{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#contenedorCHEQUES{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(244, 242, 105);    
}

#contenedorCHEQUE{
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 0.8;
    margin-top: 0px;
}
#contenedorErrores{
    display: flex;
    justify-content: center;
    font-size: 11px;
    color: red;
    min-height: 15px;
    background-color: rgb(244, 242, 105);
    opacity: 0.8;
    margin-left: 30px;
}
.inputImporte{
    margin: 5px;
    width: 100px;
    border-radius: 5px;
    height: 18px;
    margin-bottom: 5px;

}

.inputFecha{
   margin: 5px;
   border-radius: 5px;
   margin-bottom: 5px;
}

.etiquetaImporte{
   display: flex;
   align-items: center;

}

input[type="text"]:focus, input[type="date"]:focus{
    outline:none;
    /*border: 2px solid rgb(243, 50, 227);*/
    box-shadow: 1px 1px 10px 2px rgb(243, 50, 227);
}

input[type="date"]:focus-within{
    outline:none;
    /*border: 2px solid rgb(243, 50, 227);*/
    box-shadow: 1px 1px 10px 2px rgb(243, 50, 227);
}

#eliminarCheque{
  margin-left:10px;
}

#eliminarCheque:hover{
cursor: pointer;
scale: 1.3;
transition: 0.2s;
}

#contenedorBotones{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    height: 40px;
    margin-left: 40px;
}

.boton{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    width: 70px;
    height: 25px;
    border-radius: 7px;
    border: none;
    background-color: beige;
    box-shadow: 2px 2px 7px 1px black;
}

.boton:hover{
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
}