#contenedorResultados{
    margin-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
    font-family:monospace;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    box-shadow: 2px 2px 7px 1px black;
}