#sideCheques{
    display: flex;
    flex-direction: column;
    width: 400px;
}

#encabezadoSide{
    display: flex;
    flex-direction: row;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    align-items: center;
    gap: 20px;
   /* margin-left:20px;
    margin-right:20px;*/
    height: 24px;
    margin-top: 5px;
    /*margin-bottom: 5px;*/
}
#dias, #porc{
    text-align: center;
    width: 55px;
}
#desc, #liquidar{
    text-align: center;
    width: 105px;
}


#calculosSide{
    font-family: monospace;
    display: flex;
    flex-direction: column;
}

#contenedorCalculosCheques{
    display: flex;
    flex-direction: row; 
    gap: 20px;
    /*justify-content:space-around;*/
}
#contDiasCobro, #contPorcentaje{
    width: 55px;
    height: 49px;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    justify-content: end;
    align-items: center;
}

#contDescuento, #contLiquidar{
 width: 105px;
 height: 49px;
 display: flex;
 flex-wrap: wrap;
 justify-content: end;
 align-items: center;
}

